<template>
  <div class="btn-icon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="12"
      height="14"
      viewBox="0 0 17.861 21.108"
    >
      <g id="android">
        <g id="Group_34" data-name="Group 34">
          <path
            id="Path_50"
            d="M37.846 153.884a1.26 1.26 0 0 0-.926.381 1.246 1.246 0 0 0-.38.913v5.455a1.3 1.3 0 0 0 1.306 1.306 1.239 1.239 0 0 0 .92-.38 1.271 1.271 0 0 0 .374-.926v-5.455a1.3 1.3 0 0 0-1.294-1.294z"
            class="cls-1"
            data-name="Path 50"
            transform="translate(-36.539 -147.047)"
          />
          <path
            id="Path_51"
            d="M106.494 167.756a1.386 1.386 0 0 0 1.4 1.4h.939l.013 2.879a1.261 1.261 0 0 0 .381.926 1.245 1.245 0 0 0 .913.381 1.3 1.3 0 0 0 1.307-1.307v-2.879h1.75v2.879a1.306 1.306 0 1 0 2.613 0v-2.879h.952a1.331 1.331 0 0 0 .977-.406 1.347 1.347 0 0 0 .406-.989v-8.448h-11.651z"
            class="cls-1"
            data-name="Path 51"
            transform="translate(-103.386 -152.23)"
          />
          <path
            id="Path_52"
            d="M114.1 1.94l.9-1.662a.167.167 0 0 0-.063-.254.176.176 0 0 0-.254.076l-.913 1.674a6.367 6.367 0 0 0-5.1 0L107.757.1a.176.176 0 0 0-.257-.075.167.167 0 0 0-.063.254l.9 1.662a5.556 5.556 0 0 0-2.182 1.947 4.918 4.918 0 0 0-.812 2.734h11.734a4.917 4.917 0 0 0-.812-2.734A5.578 5.578 0 0 0 114.1 1.94zm-5.207 2.416a.475.475 0 0 1-.349.146.455.455 0 0 1-.343-.146.506.506 0 0 1 0-.7.455.455 0 0 1 .343-.146.493.493 0 0 1 .349.844zm5.347 0a.456.456 0 0 1-.343.146.495.495 0 0 1 0-.989.456.456 0 0 1 .343.146.506.506 0 0 1 0 .7z"
            class="cls-1"
            data-name="Path 52"
            transform="translate(-102.29 .001)"
          />
          <path
            id="Path_53"
            d="M382.224 154.258a1.271 1.271 0 0 0-.926-.374 1.256 1.256 0 0 0-.913.374 1.24 1.24 0 0 0-.381.92v5.455a1.26 1.26 0 0 0 .381.926 1.245 1.245 0 0 0 .913.38 1.3 1.3 0 0 0 1.307-1.306v-5.455a1.239 1.239 0 0 0-.381-.92z"
            class="cls-1"
            data-name="Path 53"
            transform="translate(-364.744 -147.047)"
          />
        </g>
      </g>
    </svg>
  </div>
</template>

<style lang="scss" scoped>
  .btn-icon {
    fill: #979898;
  }
</style>
