<template>
  <div class="btn-icon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="15.891"
      height="19.445"
      viewBox="0 0 15.891 19.445"
    >
      <g id="apple">
        <path
          id="XMLID_229_"
          d="M28.7 74.857c-1.644 2.853-.6 7.182 1.219 9.807.907 1.312 1.826 2.49 3.084 2.49h.072a3.809 3.809 0 0 0 1.431-.382 3.92 3.92 0 0 1 1.7-.4 3.686 3.686 0 0 1 1.614.389 3.42 3.42 0 0 0 1.546.371c1.417-.026 2.288-1.3 3.055-2.419a10.721 10.721 0 0 0 1.339-2.742l.005-.017a.159.159 0 0 0-.085-.2h-.012A4.063 4.063 0 0 1 41.2 78.03a4.182 4.182 0 0 1 1.976-3.5l.016-.01a.159.159 0 0 0 .045-.224 4.6 4.6 0 0 0-3.617-1.964c-.1-.01-.209-.015-.316-.015a6.306 6.306 0 0 0-2.27.567 3.65 3.65 0 0 1-1.088.325 3.558 3.558 0 0 1-1.125-.329 5.451 5.451 0 0 0-1.983-.5h-.05a4.862 4.862 0 0 0-4.088 2.477z"
          class="cls-1"
          transform="translate(-27.875 -67.709)"
        />
        <path
          id="XMLID_230_"
          d="M153.22 0a4.44 4.44 0 0 0-2.931 1.5 4.16 4.16 0 0 0-1.053 3.084.159.159 0 0 0 .146.138c.068.005.137.008.206.008a3.755 3.755 0 0 0 2.767-1.419 4.385 4.385 0 0 0 1.029-3.169.16.16 0 0 0-.164-.142z"
          class="cls-1"
          transform="translate(-141.475)"
        />
      </g>
    </svg>
  </div>
</template>
<style lang="scss" scoped>
  .btn-icon {
    fill: #979898;
  }
</style>
