<template>
  <div class="btn-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="8.98" height="12.397" viewBox="0 0 8.98 12.397">
      <g id="maps-and-flags">
        <g id="Group_1052" data-name="Group 1052">
          <path
            id="Path_1668"
            d="M75.063 0a4.5 4.5 0 0 0-4.49 4.49c0 3.072 4.018 7.583 4.189 7.773a.4.4 0 0 0 .6 0c.171-.191 4.189-4.7 4.189-7.773A4.5 4.5 0 0 0 75.063 0zm0 6.749a2.259 2.259 0 1 1 2.259-2.259 2.262 2.262 0 0 1-2.259 2.259z"
            class="cls-1"
            data-name="Path 1668"
            transform="translate(-70.573)"
          />
        </g>
      </g>
    </svg>
  </div>
</template>
<style lang="scss" scoped>
.btn-icon {
  fill: #979898;
  width: 9px;
  height: 13px;
  margin: -4px 0 0 0;
}
</style>
