<template>
  <div class="container">
    <div v-if="desksArr" class="app-container">
      <CardsList />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import CardsList from '@/components/CardsList';
export default {
  data: () => ({}),
  components: {
    CardsList
  },
  computed: {
    ...mapGetters(['desksArr'])
  }
};
</script>

<style lang="scss" scoped>
.container {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-container {
  width: 962px;
  height: auto;
  background: #f1f1f5;
}
</style>
