<template>
  <div class="card">
    <div class="card-top">
      <img :src="card.icon" alt="Что-то пошло не так, риснок не загрузился" />
      <div class="card-top-header">
        <div class="card-top-header-title">
          {{ slicedName }}
        </div>
        <div class="card-top-header-stats">
          <div class="card-top-header-stats-block">
            <AppleIconSmall v-if="card.platform === 'apple' || card.platform === 'iphone'"/>
            <AndroidIconSmall v-else />
            <div class="card-top-header-stats-price">
              {{ card.price }}
            </div>
          </div>
          <div class="card-top-header-stats-block">
            <Star />
            {{ card.rating }}
          </div>
          <div class="card-top-header-stats-block">
            <Mark />
            {{ card.location }}
          </div>
        </div>
      </div>
    </div>
    <div class="card-bottom">
      <div class="card-bottom-block">
        <div class="card-bottom-block-title">
          ASO index
        </div>
        <div class="card-bottom-block-value">
          {{ card.asoindex }}
        </div>
      </div>
      <div class="card-bottom-block">
        <div class="card-bottom-block-title">
          Установок за месяц
        </div>
        <div class="card-bottom-block-value">
          {{ filteredInstallations }}
        </div>
      </div>
      <div class="card-bottom-block">
        <div class="card-bottom-block-title">
          В категории
        </div>
        <div class="card-bottom-block-value">
          {{ card.categoryPosition }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppleIconSmall from '@/components/Icons/AppleIconSmall';
import AndroidIconSmall from '@/components/Icons/AndroidIconSmall';
import Star from '@/components/Icons/Star';
import Mark from '@/components/Icons/Mark';
export default {
  props: {
    card: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    imgUrl:
      'https://lh3.ggpht.com/3F5mBvgv0ux28x3-d6tYMIrdtvVBlwGKqEIKmXnPuXFaVYJGNc6B1aS3_sKyevY3eeLz=s360-rw'
  }),
  components: {
    AppleIconSmall,
    AndroidIconSmall,
    Star,
    Mark
  },
  computed: {
    slicedName: function() {
      let maxLengnth = 45;
      let sliced = this.card.name.slice(0, maxLengnth);
      if (this.card.name && this.card.name.length > maxLengnth) {
        return `${sliced} ...`;
      } else return this.card.name;
    },
    filteredInstallations: function() {
      let number = this.card.installations;
      let k = number/1000
      let kk = number/1000000
      if (1000000 > number && number >= 1000) {
        return (number/1000).toFixed() + 'K.'
      }
      else if (number >= 1000000) {
        return Math.round(number/1000000) + 'KK.'
      }
      else return number
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/styles/_typo.scss';
.card {
  margin: 23px 0 0 0;
  width: 420px;
  height: 191px;
  background: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.card-top {
  margin: 12px 0 0 0;
  padding: 0;
  height: 81px;
  width: 396px;
  border-radius: 10px;
  display: flex;
}
.card-top img {
  border-radius: 10px;
  height: 81px;
}
.card-top-header {
  margin: 0 0 0 16px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-top-header-title {
  width: 223px;
  height: 46px;
  color: black;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  font-family: $font;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card-top-header-stats {
  width: 273px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-top-header-stats-block:nth-child(1) {
  width: 59px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-top-header-stats-block:nth-child(2) {
  width: 48px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.13px;
  font-family: $font;
}
.card-top-header-stats-block:nth-child(3) {
  width: 36px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.13px;
  font-family: $font;
}
.card-top-header-stats-price {
  height: 24px;
  width: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 0;
  align-items: center;
  color: #979898;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.11px;
  border: solid 1px #979898;
  border-radius: 6px;
  font-family: $font;
}
.card-bottom {
  margin: 26px 0 0 0;
  height: 59px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.card-bottom-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card-bottom-block:nth-child(1),
.card-bottom-block:nth-child(3) {
  width: 115.5px;
}
.card-bottom-block:nth-child(2) {
  width: 189px;
  border-left: solid 1px #e8e8e8;
  border-right: solid 1px #e8e8e8;
}
.card-bottom-block-title {
  color: #979898;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  font-family: $font;
}
.card-bottom-block-value {
  margin: 0 0 4px 0;
  color: black;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 0;
  font-family: $font;
}
</style>
