<template>
  <div>
    <div class="filters-wrapper">
      <div class="filters-tabs-wrapper">
        <div  v-for="desc in desksArr" :key="desc.index" class="filters-tabs-tab">
          <div class="filters-tabs-tab-text">{{ desc.name }}</div>
        </div>
        <div class="filters-tabs-tab-active">
          <div class="filters-tabs-tab-active-text">Тинькофф</div>
        </div>
      </div>
      <div class="filters-tabs-tab-active-content">
        <div class="filters-tabs-tab-active-content-filter-wrapper">
          <div class="filters-tabs-tab-active-content-filter-title-wrapper">
            <div class="filters-tabs-tab-active-content-filter-title">
              Фильтр
            </div>
          </div>
          <div class="filters-tabs-tab-active-content-filter-buttons-wrapper">
            <button class="btn" @click="showItems = tinkoffDataAppsArr">
              Все
            </button>
            <div class="filters-tabs-tab-active-content-filter-buttons-divider"></div>
            <button class="btn" @click="showItems = tinkoffDataAppsArrApple">
              <AppleIcon />
            </button>
            <div class="filters-tabs-tab-active-content-filter-buttons-divider"></div>
            <button class="btn" @click="showItems = tinkoffDataAppsArrAndroid">
              <AndroidIcon />
            </button>
          </div>
        </div>
        <div class="filters-tabs-tab-active-content-rating-wrapper">
          <div class="filters-tabs-tab-active-content-rating-title-wrapper">
            <div class="filters-tabs-tab-active-content-rating-title">
              Рейтинг
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cards-container">
      <Card v-for="card in showItems" :key="card.index" :card="card" />
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import Card from '@/components/Card';
import AppleIcon from '@/components/Icons/AppleIcon';
import AppleIconSmall from '@/components/Icons/AppleIconSmall';
import AndroidIcon from '@/components/Icons/AndroidIcon';
export default {
  data: () => ({
    showItems: Array
  }),
  components: {
    Card,
    AppleIcon,
    AppleIconSmall,
    AndroidIcon
  },
  computed: {
    ...mapState(['appsData']),
    ...mapGetters(['desksArr', 'tinkoffDataAppsArr', 'tinkoffDataAppsArrApple', 'tinkoffDataAppsArrAndroid'])
  },
  created() {
    if (this.tinkoffDataAppsArr) {
      this.showItems = this.tinkoffDataAppsArr;
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/styles/_typo.scss';
.cards-container {
  width: 856px;
  margin: 0 50px 23px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filters-wrapper {
  width: 856px;
  height: 132px;
  margin: 50px 50px 0 50px;
}
.filters-tabs-wrapper {
  width: 100%;
  height: 32px;
  display: flex;
  flex-direction: row;
}
.filters-tabs-tab {
  height: 100%;
  width: 73px;
  background: #e8e8e8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 13px 13px 0 0;
  cursor: pointer;
}
.filters-tabs-tab-text {
  color: $dimtext;
  font-size: 15px;
  font-weight: 500;
  font-family: $font;
  margin: 10px;
}
.filters-tabs-tab-active {
  height: 100%;
  width: 118px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 13px 13px 0 0;
  cursor: pointer;
}
.filters-tabs-tab-active-text {
  color: black;
  font-size: 15px;
  font-weight: 500;
  font-family: $font;
}
.filters-tabs-tab-active-content {
  width: 100%;
  height: 100px;
  background: white;
  border-radius: 0 16px 16px 16px;
  display: flex;
  flex-direction: row;
}
.filters-tabs-tab-active-content-filter-wrapper {
  width: 202px;
  margin: 0 0 0 18px;
  display: flex;
  flex-direction: column;
}
.filters-tabs-tab-active-content-filter-title-wrapper {
  width: auto;
  height: 16px;
  margin: 14px 0 0 0;
}
.filters-tabs-tab-active-content-filter-title {
  color: black;
  font-size: 15px;
  font-weight: 500;
  font-family: $font;
}
.filters-tabs-tab-active-content-filter-buttons-wrapper {
  width: 202px;
  height: 34px;
  margin: 18px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.filters-tabs-tab-active-content-filter-buttons-divider {
  height: 18px;
  width: 0;
  border: 1px solid #e8e8e8;
}
.btn {
  width: 54px;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: 10px;
  color: $dimtext;
  background-color: #f1f1f5;
  font-size: 15px;
  font-weight: 500;
  font-family: $font;
  cursor: pointer;
}
.btn:first-child {
  margin: 0 10px 0 0;
}
.btn:last-child {
  margin: 0 0 0 10px;
}
.btn {
  margin: 0 10px 0 10px;
}
.btn:hover {
  color: #ffffff;
  border-color: none;
  background-color: $selectItemHoverBg;
}
.btn::-moz-focus-inner {
  border: none;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.js-focus-visible .btn:focus:not(.focus-visible) {
  box-shadow: none;
}
.filters-tabs-tab-active-content-rating-wrapper {
  margin: 0 0 0 30px;
  width: auto;
  display: flex;
  flex-direction: column;
}
.filters-tabs-tab-active-content-rating-title-wrapper {
  width: auto;
  height: 16px;
  margin: 14px 0 0 0;
}
.filters-tabs-tab-active-content-rating-title {
  color: black;
  font-size: 15px;
  font-weight: 500;
  font-family: $font;
}
</style>
