@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../assets/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../assets/MuseoSansCyrl-900.ttf') format('truetype');
  font-weight: 900;
}
// fonts
$font: 'MuseoSansCyrl';
// colors
$selectItemHoverBg: #3469f2;
$dimtext: #979898;
